################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RemoteDesktopManagement/obj/Debug
/packages
/.vs
